<div class="container primary-color card-border">
  <div class="logo-container">
    <app-logo></app-logo>
  </div>
  <div class='nav-buttons'>
    <button mat-button [matMenuTriggerFor]="addMenu" class="default-button side-margin menu">Add</button>
    <mat-menu #addMenu="matMenu" class="menu-container">
      <app-add-location-modal></app-add-location-modal>
      <app-add-category-modal></app-add-category-modal>
      <app-add-item-modal (update)="onEvent($event)"></app-add-item-modal>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="removeMenu" class="default-button side-margin menu">Remove</button>
    <mat-menu #removeMenu="matMenu" class="menu-container">
      <app-remove-location-modal></app-remove-location-modal>
      <button mat-menu-item class="default-button no-border">Category</button>
    </mat-menu>
    <button mat-button class="default-button">Export Inventory</button>
  </div>
</div>
