@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


/* You can add global styles to this file, and also import other style files */
.primary-color {
  background-color: white;
}

.card-border {
  border: 1px solid #c4c4c4;
}

.default-button {
  background-color: #ffffff; /* Green */
  color: #665b52;
  border-radius: 0 !important;
  width: 140px !important;
  border: 1px solid #665b52 !important;
}

.dark-border {
  border: 1px solid #665b52 !important;
}

.no-border {
  border: none !important;
}

.side-margin {
  margin-right: 10px !important;
}

.bottom-margin {
  margin-bottom: 10px !important;
}

.danger-color {
  background-color: #ff9b9b;
  color: #ffffff;
}

body {
  background-color: #ebebeb;
}

